.banniere {
  background-color: white;
  display: flex;
  justify-content: space-between;

    .LogoESTIA {
        display: flex;
        align-items: center;
    }
    .titre {
        display: flex;
        align-items: center;
        margin: auto;

       h1 {
        padding-left: 40px;
        padding-right: 40px;
        font-family: fantasy;
        font-size: 250%;
        } 
    }
   
}

body {
    background: linear-gradient(90deg, #8cbdd7, #35da3a);
}