.banniere {
  background-color: white;
  display: flex;
  justify-content: space-between;

    .LogoESTIA {
        display: flex;
        align-items: center;
    }
    .titre {
        display: flex;
        align-items: center;
        margin: auto;

       h1 {
        padding-left: 40px;
        padding-right: 40px;
        font-family: fantasy;
        font-size: 250%;
        } 
    }
   
}

body {
    background-color: rgb(38, 158, 128) ;
}

.trajet-bulle {
    display :inline-block;
    background-color:#f0f0f0;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s, box-shadow 0.2s;

}

footer {
    background-color: white;
    font-size: 20px;
    font-family: 'fantasy', Arial, sans-serif;
    font-weight: 1000;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-decoration: none;
    color : red;

}

footer a {
    text-decoration: none;
    color : red;
}

