.banniere {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

    h1 {
        padding-left: 40px;
        padding-right: 40px;
        font-family: fantasy;
        font-size: 250%;
    }

    .logoESTIA {
        display: flex;
        justify-content: right;
    }
}

body {
    background: linear-gradient(90deg, #8cbdd7, #35da3a);
}